{% extends "layout.html" %}

{% block page_title %}
Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['applicationPerson'] == 'Yes' %}
        <h1 class="heading-large">Other names you held during service</h1>
      {% else %}
        <h1 class="heading-large">Other names the serviceperson was known by</h1>
      {% endif %}

      {% if data['applicationPerson'] == 'Yes' %}
        <form action="/contact-preference" method="post" class="form">
      {% else %}
        <form action="/applicant-name" method="post" class="form">
      {% endif %}
        <div class="form-group">

            <!-- Arguments: 'id yes', 'id no', 'name' -->
            {{ forms.input( 'alternativeName', 'Full name'  ) }}

          </fieldset>
        </div>

        <div class='add-another'>
          <span class='add-link' id="addName">
            Add another name
          </span>

          <div class="form-group js-hidden" id='addNameBox'>
            <fieldset class=''>
              <label class="form-label" for="otherName">
                <span class=''>Full name</span>
              </label>

              {{ forms.input( ) }}
              <span class='add-link remove-link js-hidden' id="removeName">
                Remove name
              </span>

              <span class='add-link-secondary' id="">
                Add another name
              </span>

            </fieldset>
          </div>
        </div>

        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}
      </form>
    </div>
  </div>
</main>

{% endblock %}