{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Did the service&nbsp;person die in service?</h1>

      <form action="/evidence-of-death" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>

            <label class="form-label" for="otherName">
              <span class='visually-hidden'>Other names</span>
            </label>

            {# ( groupName, name, label, target="" ) #}
            {{ forms.radio( 'diedInService', 'diedInServiceYes', 'Yes' ) }}
            {{ forms.radio( 'diedInService', 'diedInServiceNo', 'No' ) }}

          </fieldset>
        </div>

        {# buttonText #}
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}