{% macro input(name, label, hint='') %}
    <div class="form-group">
      <span class="form-hint">
        {{ hint }}
      </span>
      <label class="form-label" for="{{ name }}">{{label}}</label>
      <input class="form-control form-control-2-3" id="{{ name }}" name="{{ name }}">
    </div>
{% endmacro %}

{% macro input_short(name, label, hint='') %}
    <div class="form-group">
      <label class="form-label" for="{{ name }}">{{label}}</label>
      <span class="form-hint">
        {{ hint }}
      </span>
      <input class="form-control form-control-1-3" id="{{ name }}" name="{{ name }}">
    </div>
{% endmacro %}

{% macro textarea(name, label, hint='') %}
  <div class="form-group">
      <label class="form-label" for="{{ name }}">{{label}}</label>
      <span class="form-hint">
        {{ hint }}
      </span>
      <textarea 
        class="form-control form-control-2-3" 
        id="{{ name }}" 
        name="{{ name }}"  
        rows='5'  
        value="{{data['{{ name }}']}}" ></textarea>
    </div>
{% endmacro %}

{% macro radio( groupName, name, label, target="" ) %}
  <div class="multiple-choice" data-target={{target}}>
    <input id="{{ name }}" type="radio" name="{{ groupName }}" value="{{ label }}" {{ checked(groupName, label) }}>
    <label for="{{ name }}">{{ label | safe }}</label>
  </div>
{% endmacro %}

{% macro conditional_child_input(name, label, target) %}
  <div class="panel panel-border-narrow js-hidden" id="{{target}}">
    {{input( name, label )}}
  </div>
{% endmacro %}

{% macro conditional_child_radio(groupName, name, label, target) %}
  <div class="panel panel-border-narrow js-hidden" id="{{target}}">
    {{radio( groupName, name, label )}}
  </div>
{% endmacro %}


{% macro checkbox ( groupName, name, label, target="" ) %}
  <div class="multiple-choice" data-target={{target}}>
    <input id="{{ name }}" type="checkbox" name="{{ groupName }}" value="{{ label }}" {{ checked(groupName, label) }}>
    <label for="{{ name }}">{{ label | safe }}</label>
  </div>
{% endmacro %}

{% macro save_button(buttonText='Save and continue') %}
  <button class="button" type="submit">{{ buttonText }}</button>
{% endmacro %}
