{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          You must provide evidence of the serviceperson’s death
        </h1>

      <p>
        Medals can’t be given to family members without evidence the serviceperson has died.
      </p>
      <p>
        Contact <a href='dbs-medals@mod.uk'>dbs-medals@mod.uk</a>, if you have questions about medal applications.
      </p>
      <p>
        <a href='https://www.gov.uk/topic/defence-armed-forces/military-awards-commemorations'>Read about military awards and commemorations</a>
      </p>
    </div>
  </div>

</main>

{% endblock %}
