{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" >
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Do you have any other proof the serviceperson has died?
      </h1>

      <p>
        For example a copy of an obituary notice or other record.
      </p>

      <form action="/other-evidence-upload" method="post" class="form">
        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="otherEvidence">
              <span class='visually-hidden'>Other names</span>
            </label>

            {{ forms.radio( 'otherEvidence', 'otherEvidenceYes', 'Yes, I can provide proof' ) }}
            {{ forms.radio( 'otherEvidence', 'otherEvidenceNo', 'No, I  don’t have any proof' ) }}

          </fieldset>
       </div>

       {{ forms.save_button( 'Continue' ) }}
     </form>

    </div>
  </div>
</main>

{% endblock %}