{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">What’s your name?</h1>

      <form action="/medal-application/contact-preference" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="applicationPerson">
              <span class='visually-hidden'>Application person</span>
            </label>

            {# ( groupName, name, label, target="" ) #}
            {{ forms.input
              ( 'applicantName',
                'Full name'
              ) 
            }}

          </fieldset>
        </div>

        <!-- 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}