{% extends "layout.html" %}

{% block page_title %}
Medals application
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Check your answers before sending your application
      </h1>

      {% if data['applicationPerson'] == 'Yes' %}
      <table class="check-your-answers">
        <thead>
          <tr>
            <th colspan="2">
              <h2 class="heading-medium">
                Service details
              </h2>
            </th>
            <th>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Organisation
            </td>
            <td>
              {% if data['armyServiceNumber'] %}
              Army
              {% endif %}
            </td>
            <td class="change-answer">
              <a href="/docs/examples/pass-data/vehicle-registration">
                Change <span class="visuallyhidden">registration number</span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              Service number
            </td>
            <td>
              {{ data['armyServiceNumber'] }}
            </td>
            <td class="change-answer">
              <a href="/docs/examples/pass-data/vehicle-registration">
                Change <span class="visuallyhidden">registration number</span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              Service dates
            </td>
            <td>
              <ul class='table-list'>
                <li>
                  {{ data['armyServiceStart'] }}
                </li>
                <li>
                  to {{ data['armyServiceEnd'] }}
                </li>
              </ul>
            </td>
            <td class="change-answer">
              <a href="/docs/examples/pass-data/vehicle-registration">
                Change <span class="visuallyhidden">registration number</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="check-your-answers">

        <thead>
          <tr>
            <th colspan="2">
              {% if data['applicationPerson'] == 'Yes' %}
              <h2 class="heading-medium">Your details</h2>
              {% else %}
              <h2 class="heading-medium">Service&nbsp;person’s details</h2>
              {% endif %}
            </th>
            <th>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ data['servicePersonName'] }}
            </td>
            <td class="change-answer">
              <a href="/docs/examples/pass-data/vehicle-registration">
                Change <span class="visuallyhidden">registration number</span>
              </a>
            </td>
          </tr>
          {% if data['otherName'] == 'Yes' %}
          <tr>
            <td>
              Other names held
            </td>
            <td>
              {{ data['alternativeName'] }}
            </td>
            <td class="change-answer">
              <a href="/docs/examples/pass-data/vehicle-registration">
                Change <span class="visuallyhidden">registration number</span>
              </a>
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>
              {% if data['contactPreferenceEmail'] %}
                Email address
              {% else %}
                Phone number
              {% endif %}
            </td>
            <td>
              {{ data['contactPreferenceEmail'] }}
              {{ data['contactPreferencePhone'] }}
              {{ data['contactPreferenceText'] }}
            </td>
            <td class="change-answer">
              <a href="/docs/examples/pass-data/vehicle-registration">
                Change <span class="visuallyhidden">registration number</span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              Address
            </td>
            <td>
              {{ data['postal-address'] }}
            </td>
            <td class="change-answer">
              <a href="/docs/examples/pass-data/vehicle-registration">
                Change <span class="visuallyhidden">registration number</span>
              </a>
            </td>            
          </tr>
        </tbody>
      </table>
      {% endif %}


      <h2 class="heading-medium">Now send your application</h2>

      <p class="text">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="form-group">
        <a href="confirmation" class="button">Accept and send application</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
