{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Check your answers before sending your application
      </h1>


      **Check answers will go here**


      <h2 class="heading-medium">Now send your application</h2>

      <p class="text">
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="form-group">
        <a href="confirmation" class="button">Accept and send application</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
