{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">How are you related to the serviceperson?</h1>

      <p>
        We need to know your reltionship to the serviceperson to determine if you’re eligble to recieve the medals.
      </p>

      <form action="/medal-application/death-in-service" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="relationship">
              <span class='question-lead'>I am their:</span>
            </label>

            {# groupName, name, label, target="" #}
            {{ forms.radio
              ( 'relationship', 'relationshipSpouse', 'Husband, wife or civil partner') }}
            {{ forms.radio
              ( 'relationship', 'relationshipParent', 'Parent', 'parentType') }}
            <div class="panel panel-border-narrow js-hidden " id="parentType">
              <p class='bold'>
                Are you their mother or father?
              </p>
              <div class="form-group">
                {# groupName, name, label, target #}
                {{ forms.radio
                  ('parentType', 'parentMother', 'Mother') }}
                {{ forms.radio
                  ('parentType', 'parentFather', 'Father') }}
              </div>
            </div>
            {{ forms.radio
              ( 'relationship', 'relationshipChild', 'Child') }}
            {{ forms.radio
              ( 'relationship', 'relationshipSibling', 'Brother or sister') }}
            {{ forms.radio
              ( 'relationship', 'relationshipGrandChild', 'Grandchild') }}
            {{ forms.radio
              ( 'relationship', 'relationshipAuntUncle', 'Aunt or uncle') }}
            {{ forms.radio
              ( 'relationship', 'relationshipNieceNephew', 'Niece or nephew') }}
          </fieldset>
        </div>

        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}

