{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">How do you want to be contacted about your application?</h1>

      <form action="post-address" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset>
            <label class="form-label" for="tenancy-type">
              <span class='visually-hidden'>Contact preference</span>

            </label>


            {# groupName, name, label, target="" #}
            {{ forms.radio
              ( 'contactPreference',
                'emailAddress',
                'Email',
                'contactPreferenceEmail' ) 
            }}
            {{ forms.conditional_child_input
              ( 'contactPreference',
                'Email address',
                'contactPreferenceEmail'
                )
            }}
            {{ forms.radio
              ( 'contactPreference',
                'phoneNumber',
                'Phone',
                'contactPreferencePhone' ) 
            }}
            {{ forms.conditional_child_input
              ( 'contactPreference',
                'Phone Number',
                'contactPreferencePhone'
                )
            }}
            {{ forms.radio
              ( 'contactPreference',
                'textMessage',
                'Text message',
                'contactPreferenceText' ) 
            }}
            {{ forms.conditional_child_input
              ( 'contactPreference',
                'Phone Number',
                'contactPreferenceText'
                )
            }}

          </fieldset>
        </div>



        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}