{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['applicationPerson'] == 'yesMyself' %}
        <h1 class="heading-large">Were you known by other names during service?</h1>
      {% else %}
        <h1 class="heading-large">Was the service person known by other names during service?</h1>
      {% endif %}
      <p>
        This can include pre and post marital names.
      </p>

      <form action="/medal-application/contact-preference" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class='inline'>
            <label class="form-label" for="otherName">
              <span class='visually-hidden'>Other names</span>

            </label>


            <!-- Arguments: 'id yes', 'id no', 'name' -->
            {{ forms.radio_button( 'otherNameNo', 'otherName', 'otherNameNo', 'No' ) }}
            {{ forms.radio_button( 'otherNameYes', 'otherName', 'otherNameYes', 'Yes' ) }}

          </fieldset>
        </div>



        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}