{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['applicationPerson'] == 'Yes' %}
        <h1 class="heading-large">Have you ever been known by any other names?</h1>
        <p>
          For example, your maiden name.
        </p>
      {% else %}
        <h1 class="heading-large">Has the service&nbsp;person ever been known by any other names?</h1>
        <p>
          For example, their maiden name.
        </p>
      {% endif %}

      {% if data['applicationPerson'] == 'Yes' %}
        <form action="/medal-application/contact-preference" method="post" class="form">
      {% else %}
        <form action="/medal-application/applicant-name" method="post" class="form">
      {% endif %}
      
        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>

            <label class="form-label" for="otherName">
              <span class='visually-hidden'>Other names</span>
            </label>

            {{ forms.radio( 
              'otherName',
              'otherNameYes', 
              'Yes' ) }}
            {{ forms.radio( 
              'otherName',
              'otherNameNo', 
              'No' ) }}
            {% if data['applicationPerson'] != 'Yes' %}
              {{ forms.radio( 
                'otherName',
                'otherNameUnsure', 
                'Not sure' ) }}
            {% endif %}

          </fieldset>
        </div>



        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}