{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" >
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Can you provide a copy of the death certificate?</h1>

      <form action="/medal-application/death-certificate-upload" method="post" class="form">
        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="deathCert">
              <span class='visually-hidden'>Other names</span>
            </label>

            {# ( groupName, name, label, target="" ) #}
            {{ forms.radio( 'deathCert', 'deathCertYes', 'Yes' ) }}
            {{ forms.radio( 'deathCert', 'deathCertNo', 'No' ) }}

          </fieldset>
       </div>

       {{ forms.save_button( 'Continue' ) }}
     </form>

    </div>
  </div>
</main>

{% endblock %}