{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['applicationPerson'] == 'yesMyself' %}
        <h1 class="heading-large">
          Apply through human resources in your unit
        </h1>
      {% else %}
        <h1 class="heading-large">
          Apply through human resources in your unit
        </h1>
      {% endif %}

      <p>
        You can only apply for a medal online if you’re a retired veteran
      </p>
      <p>
        If you are a retired veteran, <a href='/medal-application/active-service'>continue your medal application</a>.
      </p>
      <p>
        <a href='https://www.gov.uk/topic/defence-armed-forces/military-awards-commemorations'>Read about military awards and commemorations</a>
      </p>
    </div>
  </div>

</main>

{% endblock %}
