{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You can only apply for the medals on behalf of a service person if you have lasting power of attorney
      </h1>
      <p>
        Contact <a href='dbs-medals@mod.uk'>dbs-medals@mod.uk</a>, if you have questions about medal applications.
      </p>
      <p>
        <a href='https://www.gov.uk/topic/defence-armed-forces/military-awards-commemorations'>Read about military awards and commemorations</a>
      </p>
    </div>
  </div>

</main>

{% endblock %}
