{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Is the service person’s Father alive?</h1>

      <form action="/medal-application/death-in-service" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>

            <label class="form-label" for="livingFather">
              <span class='visually-hidden'>Is there a living Father?</span>
            </label>

            {{ forms.radio_button( 'livingFatherYes', 'livingFather', 'livingFatherYes', 'Yes' ) }}
            {{ forms.radio_button( 'livingFatherNo', 'livingFather', 'livingFatherNo', 'No' ) }}

          </fieldset>
        </div>

        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}