{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
          Do you have lasting power of attorney for the service&nbsp;person?
      </h1>

      <form action="lpa-upload" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class='inline'>
            <label class="form-label" for="lpa">
              <span class='visually-hidden'>
                Do you have lasting power of attorney for the service&nbsp;person?
              </span>
            </label>

            <!-- id, name, value, label -->
            {{ forms.radio_button
              ( 'lpaYes', 'lpa', 'lpaYes', 'Yes') 
            }}
            {{ forms.radio_button
              ( 'lpaNo', 'lpa', 'lpaNo', 'No') 
            }}
          </fieldset>
        </div>

        <!-- 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}