{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['applicationPerson'] == 'Yes' %}
        <h1 class="heading-large">What is your name?</h1>
      {% else %}
        <h1 class="heading-large">What is the service&nbsp;person’s name?</h1>
      {% endif %}

      <form action="different-name" method="post" class="form">

        {{ forms.input( 'servicePersonName', 'Full name' ) }}

        {{ forms.save_button( 'Continue' ) }}
      </form>

    </div>
  </div>
</main>

{% endblock %}