{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Are you the service person’s mother or father?</h1>

      <form action="/medal-application/death-in-service" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>

            <label class="form-label" for="parent">
              <span class='visually-hidden'>Are you the service person’s mother or father?</span>
            </label>

            {# groupName, name, label, target="" #}
            {{ forms.radio( 'parent', 'parentMother', 'Mother' ) }}
            {{ forms.radio( 'parent', 'parentFather', 'Father' ) }}

          </fieldset>
        </div>

        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}