{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Where do you want the medals posted?</h1>

      <p>
        Medal applications usually take 6 to 8 weeks to process. If you move during this time, please contact <a href='dbs-medals@mod.uk'>dbs-medals@mod.uk</a>.
      </p>

      <p>
        There is no charge for the postage. The delivery will need to be signed for.
      </p>

      <form action="check-your-answers" method="post" class="form">

        {{ forms.textarea( 'postal-address', 'Full address' ) }}

        {{ forms.save_button( 'Continue' ) }}
      </form>
    </div>
  </div>
</main>

{% endblock %}