{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Are any of the following people alive?
      </h1>

      <p class='before-list'>
        The service person’s:
      </p>
      <ul class='list list-bullet'>
        <li>husband, wife or civil partner</li>
        <li>parents</li>
      </ul>

      <form action="/medal-application/eldest-child" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="partnerOrSpouse">
              <span class='visually-hidden'>Other names</span>
            </label>

            <!-- Arguments: 'id yes', 'id no', 'name' -->
            {{ forms.radio( 'partnerOrSpouseAlive', 'partnerOrSpouseAlive', 'No' ) }}
            {{ forms.radio( 'partnerOrSpouseAlive', 'partnerOrSpouseDead', 'Yes' ) }}

          </fieldset>
        </div>



        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}