{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">


      {% if data['applicationPerson'] == 'yesMyself' %}
        <h1 class="heading-large">Details of your Army service</h1>
      {% else %}
        <h1 class="heading-large">Details of Army service</h1>
      {% endif %}

      <form action="name-service" method="post" class="form">

        <div class="form-group">

          <fieldset class=''>
            <label class="form-label" for="service-number">Service number</label>
            <span class="form-hint">
              For example, ‘RA16 989 587’.
            </span>
            {{ forms.textbox( 'service-number' ) }}
          </fieldset>
        </div>


        <h2 class='heading-medium'>
          Service dates
        </h2>

        <p>
          These dates are to help find your records, be as precise as you can.
        </p>

        <div class="form-group">

          <fieldset class=''>
            <label class="form-label" for="service-start">Start date</label>
            {{ forms.textbox_short( 'service-start' ) }}

          </fieldset>
        </div>

        <div class="form-group">

          <fieldset class=''>
            <label class="form-label" for="service-end">End date</label>
            {{ forms.textbox_short( 'service-start' ) }}

          </fieldset>
        </div>

        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}