{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">


      {% if data['applicationPerson'] == 'yesMyself' %}
        <h1 class="heading-large">Details of your Army service</h1>
      {% else %}
        <h1 class="heading-large">Details of Army service</h1>
      {% endif %}

      <form action="name-service" method="post" class="form">

        {{ forms.input( 'armyServiceNumber', 'Service number', 'For example, ‘RA16 989 587’.' ) }}

        <h2 class='heading-medium'>
          Service dates
        </h2>

        <p>
          These dates are to help find your records. Be as precise as you can.
        </p>
        {{ forms.input_short( 
          'armyServiceStart',
          'Start date',
          'For example, ‘December 1997’, or ‘1997’.'  ) }}
        {{ forms.input_short( 
          'armyServiceEnd',
          'End date'  ) }}
        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}