{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Is there a living husband, wife or civil&nbsp;partner?</h1>

      <form action="/medal-application/parent" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="partner">
              <span class='visually-hidden'>Other names</span>

            </label>

            {# groupName, name, label, target="" #}
            {{ forms.radio( 'partner', 'partnerNo', 'No' ) }}
            {{ forms.radio( 'partner', 'partnerYes', 'Yes' ) }}

          </fieldset>
        </div>



        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}