{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Is there a living husband, wife, civil&nbsp;partner or parent of the service&nbsp;person?
      </h1>

      <form action="/medal-application/eldest-child" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class='inline'>
            <label class="form-label" for="partnerOrSpouse">
              <span class='visually-hidden'>Other names</span>

            </label>


            <!-- Arguments: 'id yes', 'id no', 'name' -->
            {{ forms.radio_button( 'partnerOrSpouseNo', 'partnerOrSpouse', 'partnerOrSpouseNo', 'No' ) }}
            {{ forms.radio_button( 'partnerOrSpouseYes', 'partnerOrSpouse', 'partnerOrSpouseYes', 'Yes' ) }}

          </fieldset>
        </div>



        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}