{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['applicationPerson'] == 'Yes' %}
        <h1 class="heading-large">Which organisations did you serve with?</h1>
      {% else %}
        <h1 class="heading-large">Which organisations did the serviceperson serve with?</h1>
      {% endif %}

      <form action="name-service" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="military-orgs">
              <span class='visually-hidden'>List of military organisations</span>
            </label>

            {# groupName, name, label, target="" #}
            {{ forms.checkbox( 
              'organisations', 
              'army',
              'Army',
              'armyDetails') }}

            <div class="panel panel-border-narrow js-hidden" id="armyDetails">
            {{ forms.input ( 
              'armyNumber',
              'Service Number',
              'For example, ‘RA16 989 587’') }}
            {{ forms.input_short ( 
              'armyStart',
              'Start date',
              'For example, ‘December 1997’, or ‘1997’.'  ) }}
            {{ forms.input_short ( 
              'armyEnd',
              'End date') }}
            </div>

            {{ forms.checkbox( 
              'organisations', 
              'homeGuard',
              'Home Guard',
              'homeGuardDetails') }}

            <div class="panel panel-border-narrow js-hidden" id="homeGuardDetails">
            {{ forms.input ( 
              'homeGuardNumber',
              'Service Number',
              'For example, ‘RA16 989 587’') }}
            {{ forms.input_short ( 
              'homeGuardStart',
              'Start date',
              'For example, ‘December 1997’, or ‘1997’.'  ) }}
            {{ forms.input_short ( 
              'homeGuardEnd',
              'End date') }}
            </div>

            {{ forms.checkbox( 
              'organisations', 
              'raf',
              'Royal Air Force',
              'rafDetails') }}

            <div class="panel panel-border-narrow js-hidden" id="rafDetails">
            {{ forms.input ( 
              'rafNumber',
              'Service Number',
              'For example, ‘RA16 989 587’') }}
            {{ forms.input_short ( 
              'rafStart',
              'Start date',
              'For example, ‘December 1997’, or ‘1997’.'  ) }}
            {{ forms.input_short ( 
              'rafEnd',
              'End date') }}
            </div>

            {{ forms.checkbox( 
              'organisations', 
              'navy',
              'Royal Navy',
              'royalNavyDetails') }}

            <div class="panel panel-border-narrow js-hidden" id="royalNavyDetails">
            {{ forms.input ( 
              'royalNavyNumber',
              'Service Number',
              'For example, ‘RA16 989 587’') }}
            {{ forms.input_short ( 
              'royalNavyStart',
              'Start date',
              'For example, ‘December 1997’, or ‘1997’.'  ) }}
            {{ forms.input_short ( 
              'royalNavyEnd',
              'End date') }}
            </div>

            {{ forms.checkbox( 
              'organisations', 
              'marines',
              'Royal Marines',
              'royalMarinesDetails') }}

            <div class="panel panel-border-narrow js-hidden" id="royalMarinesDetails">
            {{ forms.input ( 
              'royalMarinesNumber',
              'Service Number',
              'For example, ‘RA16 989 587’') }}
            {{ forms.input_short ( 
              'royalMarinesStart',
              'Start date',
              'For example, ‘December 1997’, or ‘1997’.'  ) }}
            {{ forms.input_short ( 
              'royalMarinesEnd',
              'End date') }}
            </div>

            {{ forms.checkbox( 
              'organisations', 
              'reserve-forces',
              'Reserve forces',
              'reserveForcesDetails') }}

            <div class="panel panel-border-narrow js-hidden" id="reserveForcesDetails">
            {{ forms.input ( 
              'reserveForcesNumber',
              'Service Number',
              'For example, ‘RA16 989 587’') }}
            {{ forms.input_short ( 
              'reserveForcesStart',
              'Start date',
              'For example, ‘December 1997’, or ‘1997’.'  ) }}
            {{ forms.input_short ( 
              'reserveForcesEnd',
              'End date') }}
            </div>


            {{ forms.checkbox_with_details( 
              'organisations', 
              'other-organisations',
              'Other organisations',
              'For example, the Civil Defense Service, Royal Fleet Auxiliary or Merchant Navy') }}



            {% if data['applicationPerson'] == 'relativeOfDeceased' %}

            <p class='or'>
              Or
            </p>

            <div class="multiple-choice">
              <input id="other-orgs" 
                     type="checkbox" 
                     name="organisations"
                     value="unknown-organisations"
              >
              <label for="unknown-organisations">
                Don’t know
              </label>
            </div>

            {% endif %}

          </fieldset>
        </div>

        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}