{% extends "layout.html" %}

{% block page_title %}
  Medals application
{% endblock %}

{% block content %}

<main id="content" role="main" data-errorHeading="Message to alert the user to a problem goes here" data-errorDescription="Optional description of the errors and how to correct them">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['applicationPerson'] == 'yesMyself' %}
        <h1 class="heading-large">Which organisations did you serve with?</h1>
      {% else %}
        <h1 class="heading-large">Which organisations did the service&nbsp;person serve with?</h1>
      {% endif %}

      <form action="service-details-army" method="post" class="form">

        <div class="form-group" data-required="Custom error message goes here">
          <fieldset class=''>
            <label class="form-label" for="military-orgs">
              <span class='visually-hidden'>List of military organisations</span>

            </label>


            <!-- Arguments: 'name', 'label', 'id' -->
            {{ forms.checkbox( 'organisations', 'Army', 'army') }}
            {{ forms.checkbox( 'organisations', 'Home guard', 'home-guard') }}
            {{ forms.checkbox( 'organisations', 'Royal Air force', 'raf') }}
            {{ forms.checkbox( 'organisations', 'Royal Navy', 'navy') }}
            {{ forms.checkbox( 'organisations', 'Royal Marines', 'marines') }}
            {{ forms.checkbox( 'organisations', 'The reserve forces', 'reserve-forces') }}

            <div class="multiple-choice">
              <input id="other-orgs" 
                     type="checkbox" 
                     name="organisations"
                     value="Other organisations"
              >
              <label for="other-orgs">
                Other organisations
                <br>
                <span class='label-explanation'>
                  For example Civil defense service, Royal Fleet Auxillary or Merchant Navy
                </span>
              </label>
            </div>


            {% if data['applicationPerson'] == 'relativeOfDeceased' %}

            <p class='or'>
              Or
            </p>


            <div class="multiple-choice">
              <input id="other-orgs" 
                     type="checkbox" 
                     name="organisations"
                     value="unknown-organisations"
              >
              <label for="unknown-organisations">
                Don’t know
              </label>
            </div>

            {% endif %}

          </fieldset>
        </div>

        <!-- Arguments: 'button text' -->
        {{ forms.save_button( 'Continue' ) }}

      </div>
    </form>
  </div>
</main>

{% endblock %}